@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
    font-family: 'Chango', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(50, 50, 50);
}

img {
    width: 1000px;
}